@import '../../../scss/rwd.scss';
@import '../../../scss/flex.scss';


.items-wrapper {
  @include flex(center, center, column)
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include respond(desktop) {
    justify-content: start;
  }
}
