<div class="container item-form-wrapper p-4">
  <h2 class="fz-title m-2">編輯物品</h2>
  <form [formGroup]="itemForm">
    <img
      class="form-img"
      src="{{
        item?.photoUrl || '../../../../../../assets/image-not-found.svg'
      }}"
      alt="item image"
    />
    <div class="input-group m-2">
      <label for="name">物品名稱</label>
      <input id="name" type="text" formControlName="itemName" required />
    </div>
    <div class="input-group m-2">
      <label for="manufacturingDate">製造日期</label>
      <input
        id="manufacturingDate"
        type="date"
        formControlName="manufacturingDate"
      />
    </div>
    <div class="input-group m-2">
      <label for="expiryDay">到期日期</label>
      <input id="expiryDay" type="date" formControlName="expiryDay" />
    </div>
    <div class="input-group m-2">
      <label for="guaranteePeriod">有效期限</label>
      <input
        id="guaranteePeriod"
        type="text"
        formControlName="guaranteePeriod"
      />
    </div>
    <div class="input-group m-2">
      <label for="tag">類別</label>
      <input id="tag" type="text" formControlName="tag" />
    </div>
    <div class="input-group m-2">
      <label for="location">所在位置</label>
      <input id="location" type="text" formControlName="location" />
    </div>

    <div class="button-wrapper mt-3">
      <app-button
        [buttonName]="'修改'"
        btnClass="btn-add"
        (click)="editItem()"
      ></app-button>
      <app-button
        *ngIf="!itemId"
        [buttonName]="'新增'"
        btnClass="btn-add"
        (click)="addItem()"
      ></app-button>
      <app-button
        [buttonName]="'取消'"
        btnClass="btn-cancel"
        (click)="notChange()"
      ></app-button>
      <app-button
        *ngIf="itemId"
        [buttonName]="'刪除'"
        btnClass="btn-error"
        (click)="deleteItem()"
      ></app-button>
    </div>
  </form>
</div>
