@import '../../../../styles.scss';

.item-form-wrapper {
  width: 100vw;
  @include flex(center, center, column)
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    width: 10rem;
  }

}

.form-img {
  height: 30rem;
  object-fit: cover;
}

.button-wrapper {
  display: flex;
  @include flex(space-evenly);
}



mat-form-field {
  flex: 1;
}
