<div class="container item-form-wrapper p-4">
  <h2 class="fz-title mb-4">{{itemId ? "編輯物品" : "新增物品"}}</h2>
  <form [formGroup]="itemForm">
    <img
      class="form-img"
      src="{{
        item?.photoUrl || '../../../../../../assets/image-not-found.svg'
      }}"
      alt="item image"
    />

    <div class="input-group m-2">
      <label for="name" class="fz-body">物品名稱</label>
      <mat-form-field appearance="fill">
        <input
          matInput
          id="name"
          type="text"
          formControlName="itemName"
          required
        />
      </mat-form-field>
    </div>

    <div class="input-group m-2">
      <label for="manufacturingDate"  class="fz-body">製造日期</label>
      <mat-form-field appearance="fill">
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="manufacturingDate"
          id="manufacturingDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi="true"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="input-group m-2">
      <label for="expiryDate"  class="fz-body">到期日期</label>
      <mat-form-field appearance="fill">
        <input
          matInput
          [min]="expiryMinDate()"
          [matDatepicker]="picker2"
          formControlName="expiryDate"
          id="expiryDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2 touchUi="true"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="input-group m-2">
      <label for="guaranteePeriod"  class="fz-body">有效期限</label>
      <mat-form-field appearance="fill">
        <input
          matInput
          id="guaranteePeriod"
          type="text"
          formControlName="guaranteePeriod"
        />
      </mat-form-field>
    </div>

    <div class="input-group m-2">
      <label for="tag"  class="fz-body">類別</label>
      <mat-form-field appearance="fill">
        <input matInput id="tag" type="text" formControlName="tag" />
      </mat-form-field>
    </div>
    <div class="input-group m-2">
      <label for="location"  class="fz-body">所在位置</label>
      <mat-form-field appearance="fill">
        <input matInput id="location" type="text" formControlName="location" />
      </mat-form-field>
    </div>

    <div class="button-wrapper mt-3">
      <app-button
        *ngIf="itemId"
        [buttonName]="'修改'"
        btnClass="btn-add"
        (click)="editItem()"
      ></app-button>
      <app-button
        *ngIf="!itemId"
        [buttonName]="'新增'"
        btnClass="btn-add"
        (click)="addItem()"
      ></app-button>
      <app-button
        [buttonName]="'取消'"
        btnClass="btn-cancel"
        (click)="notChange()"
      ></app-button>
      <app-button
        *ngIf="itemId"
        [buttonName]="'刪除'"
        btnClass="btn-error"
        (click)="deleteItem()"
      ></app-button>
    </div>
  </form>
</div>
