.btn {
  background-color: var(--buttonWhite);
  color: var(--dark);
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.2rem 0rem var(--dark);
  font-size: 1.2rem;

  &:hover {
    color: var(--alwaysDark);
    background-color: darken(#fff, 10%);
  }

  &-error {
    color: var(--alwaysDark);
    background-color: var(--error);
    &:hover {
      color: var(--alwaysWhite);
      background-color: var(--delete) !important;
    }
  }

  &-add {
    min-width: 10rem;
  }
  &-cancel {
    min-width: 10rem;
    background-color: var(--dark);
    color: var(--light);
    &:hover {
      background-color: var(--primary) !important;
      color: var(--dark);
    }
  }
}

