:root {
  --primary: #ABD0CE;
  --second: #7C7877;
  --grey: #D9D4CF;
  --light: #F0E5DE;
  --error: #F7A399;
  --delete: #f3786a;
  --dark: #101112;
}

[data-theme="dark"] {
  --primary: #101112;
  --second: #7e7777;
  --grey: #7e7777;
  --light: #101112;
  --error: #F7A399;
  --delete: #f3786a;
  --dark: #e4e4e4;
}

$primary: #ABD0CE;